<form class="cairn" autocomplete="off">
    <div class="item-sheet-grid">
        <!-- Name -->
        <div class="item-sheet-section-name">
            <input class="name-input" type="text" name="name" value="{{data.name}}" placeholder="{{ localize 'CAIRN.Name' }}" />
        </div>
        
        <!-- Description -->
        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">{{ localize 'CAIRN.Description' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor data.system.description target="system.description" button=true owner=owner editable=editable }}
                </div>
            </section>
        </div>

        <!-- Portrait -->
        <div class="item-sheet-section-portrait">
            <img class="portrait" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>

        <!-- Quantity -->
        <div class="item-sheet-section-equipement resource-counter long-counter">
            <div class="resource-input-wrapper">
                <input type="text" name="system.quantity" id="system.quantity" value="{{data.system.quantity}}" data-dtype="Number" />
            </div>
        </div>
    </div>
</form>
